// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// immigr8 colors
$backgroundlightblue: #99C2FF; //background
$orange: #FFB641; //blobs on background
$darkblue: #032033; //font color and navbar/footer
$white: #ffffff; // cards and incoming chat bubble
$chatbubblelighterblue: #DBEFFD; // chat bubble
$skyblue: #7FC8F8; //searchbar
