// Define variables for your color scheme

// // For example: # we need these color names because of the le wagon templates but i changed the actual colors to match our scheme
$red: #99C2FF;
$blue: #032033;
$yellow: #FFB641;
// $orange: #E67E22; # can be deleted later
$green: #7FC8F8;
$gray: #032033;
$light-gray: #ffffff;

// immigr8 colors
$backgroundlightblue: #99C2FF; //background
$orange: #FFB641; //blobs on background
$darkblue: #032033; //font color and navbar/footer
$white: #ffffff; // cards and incoming chat bubble
$chatbubblelighterblue: #DBEFFD; // chat bubble
$skyblue: #7FC8F8; //searchbar
