.article-content {
  padding: 5px;
  margin: 10px;
  background-color: white;
  border: 1px solid #032033;
  border-radius: 5px;
}

.back-to-link {
  text-decoration: none;
  color: black;
  font-size: small;
}

.article-header {
  position: relative;
}

.article-title {
  padding: 5px;
  color: #032033;
}

.article-buttons {
  position: absolute;
  top: 3px;
  right: 16px;
  vertical-align: middle;
  padding-left: 15px;
  display: flex;
}

.fa-padding {
  padding: 5px;
}

.fa-bigger {
  font-size: x-large;
  color: #7FC8F8;
}

.fa-biggish {
  font-size: x-large;
  color: #7FC8F8;
  margin-top: 2px;
}

.message-icon {
  display: inline-block;
  transform: scale(.9);
  color: #7FC8F8;
}

.article-text {
  padding: 5px;
}

.back-to-btn {
  padding: 5px;
  margin: 6px;
}

.article-content h4 {
  color: #032033;
}

.article-content h5 {
  font-size: small;
  color: #032033;
}

.article-content p {
  font-size: small;
  color: #032033;
}

.article-content h3 {
  font-size: medium;
  padding-top: 30px;
  color: #032033;
}
