.article-content {
  padding: 5px;
  margin: 10px;
  background-color: white;
  border: 3px solid #032033;
  border-radius: 5px;
}

.comment-section {
  padding: 5px;
  margin: 10px;
  background-color: white;
  border: 3px solid #032033;
  border-radius: 5px;
}

.back-to-link {
  text-decoration: none;
  color: black;
  font-size: small;
}

.article-header {
  position: relative;
}

.article-title {
  padding: 25px 85px 25px 15px;
  color: #032033;
}

.comment-section-title {
  padding: 5px;
  color: #032033;
}

.comment-content {
  width: 100%;
}

.comment-card {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
}

.comment-content-time {
  padding-left: 5px;
}

.comment-content-time p {
  font-size: small;
  color: #032033;
}

.comment-timestamp {
  font-size: x-small;
  color: #032033;
}

.add-comment-section {
  display: flex;
  border: 1px solid #7FC8F8;
  margin: 5px;
}

.add-comment-content {
  width: 100%;
  margin: 5px;
  border: none;
  font-size: small;
}

.comment-icon-submit {
  margin-top: 7px;
  margin-right: 5px;
}

.comment-icon-submit i {
  font-size: x-large;
  color: #7FC8F8;
}

.comment-icon-button {
  background-color: white;
  border: none;
}

.user-picture-section {
  padding-right: 5px;
  padding-top: 2px;
}

.user-picture {
  width: 30px;
  border: 1px solid #032033;
  border-radius: 100px;
}

.article-buttons {
  position: absolute;
  top: 25px;
  right: 25px;
  vertical-align: middle;
  padding-left: 15px;
  display: flex;
}

.fa-padding {
  padding: 5px;
}

.fa-bigger {
  font-size: x-large;
  color: #7FC8F8;
}

.fa-biggish {
  font-size: x-large;
  color: #7FC8F8;
  margin-top: 2px;
}

.message-icon {
  display: inline-block;
  transform: scale(.9);
  color: #7FC8F8;
}

.article-text {
  padding: 25px;
}

.back-to-btn {
  padding: 5px;
  margin: 6px;
}

.article-content h4 {
  color: #032033;
}

.article-content h5 {
  font-size: small;
  color: #032033;
}

.article-content p {
  font-size: small;
  color: #032033;
}

.article-content h3 {
  font-size: medium;
  padding-top: 30px;
  color: #032033;
}

.new-article-form {
  padding: 10px;
}

.form-control {
  border: 1px solid #032033 !important;
}

.article-content-input {
  border: 1px solid #032033;
}

.form-control-search {
  border: none;
}
