.category-description-card {
  // border-radius: 10px;
  // padding: 20px;
  border-radius: 5px;
  color: #032033;
  background-color: #ffffff;
  position: relative;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.categories-add-article-btn {
  justify-content: flex-end;
}

.category-description-title {
  font-size: 36px;
  font-family: Abhaya Libre;
  font-weight: bold;
  letter-spacing: 3px;
  color: #032033;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0;
}

.category-description {
  margin: 20px;
  font-size: 16px;
  text-align: center;
  padding-bottom: 25px;
}

.category-article-card {
  background-color: white;
  border: 3px solid #032033;
  border-radius: 5px;
  margin: 40px auto 15px auto;
  max-width: 65%;
  // box-shadow: -8px -8px 0 -3px white, -8px -8px #032033,
  //             -16px -16px 0 -3px white, -16px -16px #032033,

}

.category-article-title {
  font-size: large;
  color: #032033;
  margin: 0px;
  padding: 15px 15px 0px 15px;
}

.category-article-author {
  font-size: small;
  padding-bottom: 15px;
  color: #032033;
  padding-left: 15px;
  margin: auto;
}

.categories-articles-container {
  margin: 0px 10px 10px 10px;
}

.add-article {
  padding: 5px 10px;
  margin: 0 0 30px 0;
  background-color: white;
  border: 1px solid #032033;
  border-radius: 5px;
}

.add-article-text {
  text-decoration: none;
}
