.category-description-card {
  // border-radius: 10px;
  // padding: 20px;
  border-radius: 5px;
  color: #032033;
  background-color: #ffffff;
  position: relative;
  border: 3px solid #032033;
}


.category-description-title {
  font-size: 24px;
  font-family: Helvetica;
  color: #032033;
  padding: 5px;
}

.category-description {
  margin: 10px;
  font-size: 16px;
}

.category-article-card {
  background-color: white;
  border: 3px solid #032033;
  border-radius: 5px;
  margin: 40px auto 15px auto;
  // box-shadow: -8px -8px 0 -3px white, -8px -8px #032033,
  //             -16px -16px 0 -3px white, -16px -16px #032033,

}

.category-article-title {
  font-size: large;
  color: #032033;
  margin: 0px;
  padding: 15px 15px 0px 15px;
}

.category-article-author {
  font-size: small;
  padding-bottom: 15px;
  color: #032033;
  padding-left: 15px;
  margin: auto;
}

.categories-articles-container {
  margin: 0px 10px 10px 10px;
}

.add-article {
  padding: 5px 10px;
  margin: 0 0 30px 0;
  background-color: white;
  border: 1px solid #032033;
  border-radius: 5px;
}

.add-article-text {
  text-decoration: none;
}

.category-title p {
  font-size: medium;
  text-decoration: none;
  font-weight: 100;
  font-family: helvetica;
}
