.category-message-card {
  background-color: white;
  border: 3px solid #032033;
  border-radius: 5px;
  margin: 40px auto 15px auto;
  height: 80px;
}

.message-first-name {
  padding-top: 35px;
  padding-left: 15px;
}


.message-no-chat {
  background-color: white;
  border: 3px solid #032033;
  border-radius: 5px;
  margin: 40px auto 15px auto;
  height: 100px;
  padding-top: 35px;
  text-align: center;
}
