.form-class {
  width: 100%;
  border: 1px solid #032033;
  color: #032033;
}

.form-title-class {
  width: 100%;
  border: 1px solid #032033;
  color: #032033;
}

.form-article-submit {
  padding-top: 10px;
}

.form-article-button {
  border: 1px solid #032033;
  border-radius: 5px;
  background: none;
}
