.profile-picture {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.profile-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100px;
  border: 2px solid black;
}

.profile-image-chat {
  max-width: 50px;
  max-height: 50px;
  border-radius: 100px;
  border: 2px solid black;
  margin-right: 10px;
}

.navbar-profile-image {
  max-width: 40px;
  max-height: 40px;
  border-radius: 100px;
  border: 1px solid #032033;
}

.profile-image-category {
  max-width: 100px;
  max-height: 100px;
  border-radius: 100px;
  border: 2px solid #032033;
}

.user-header {
  position: relative;
}

.user-header h1 {
  padding: 0;
  margin: 0;
}

.user-button {
  position: absolute;
  top: 0px;
  right: 16px;
}

.user-button a {
  text-decoration: none;
  color: white;
}

.user-icon {
  text-decoration: none;
  color: black;
}

.other-icon {
  text-decoration: none;
  color: #7FC8F8;
  padding-left: 8px;
}

.user-box {
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 475px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.user-box-profile {
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 475px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.broader-user-box {
  justify-content: center;
  max-width: 475px;
  margin: auto;
  margin-top: 20px;
  padding-top: 25px;
}

.user-box h1 {
  font-family: "Abhaya Libre";
  font-size: x-large;
}

.user-header h5 {
  font-size: small;
}

.user-header h1 {
  font-size: x-large;
}

.user-content {
  justify-content: baseline;
}

.user-articles {
  font-family: "Abhaya Libre";
  padding-top: 20px;
  font-size: x-large;
}

.column-header {
  line-height: 0;
  padding-top: 30px;
  padding-bottom: 2px;
  font-weight: 800;
  font-family: Helvetica, sans-serif;
}

.column-text {
  line-height: 0;
  padding-top: 2px;
}

.user-icon:hover, .other-icon:hover {
  color: $darkblue;
  opacity: 0.8;
  transition: 0.3s;
}

.user-logout{
  text-align: center;
}

.new-user {
  font-size: medium;
}

.badges {
  margin-top: 0;
  padding-top: 0;
  display: flex;
}

.badges p {
  font-size: x-large;
}

.badges-title {
  margin-bottom: 2px;
}

.badge-align-first {
  padding: 2px 2px 2px 0;
}

.badge-align-second {
  padding: 2px;
}

.badge-align-third {
  padding: 2px;
}

.badge-align-fourth {
  padding: 2px;
}

.badge-align-fifth {
  padding: 2px 4px 2px 2px;
}

.badge-align-sixth {
  padding: 2px;
}

.view-user-badges {
  padding: 0px;
  margin: 0px;
}
