<%# <div class="article-content"> %>

  <div class="article-header">
    <div class="article-title">
      <h4><%= article.title %></h4>
      <h5>By: <%= article.user.first_name %></h5>
    </div>
  </div>

  <div class="article-text">
      <p><%= article.content %></p>
  </div>

<%# </div> %>
