<div class="article-banner" style="background-image: url('<%= @article.banner %>')">
  <div class="article-overlay"></div>
    <div class="banner-text">
     <h4><%= @article.title %>
    </div>
  </div>
  </div>
<p>hallo thank you for reading this article hihi</p>
