<div class="container">
  <div class="back-to-btn">
    <i class="fa-solid fa-arrow-left"></i>
    <%# <% if @article.user == current_user %>
      <%# <%= link_to "Back to my articles", articles_path, class: "back-to-link" %>
    <%# <% else %>
      <%= link_to "Back to articles", category_path(@article.category), class: "back-to-link" %>
    <%# <% end %>
  </div>
  <div data-controller="translate">
    <div><%= render "shared/languagepicker" %></div>
    <div data-translate-target="card"><%= render "articles/cardcontent", article: @article %></div>
    </div>
</div>
