<div class="container">

        <% @chatroom.message.each do |message| %>
        <%= link_to chatroom_message_path(@chatroom, message), class:"text-decoration-none text-reset" do %>
          <div class="category-message-card">
            <p class="category-article-title"> <%= article.title %> </p>
            <p class="category-article-author"> by <%= article.user.first_name %> </p>
          <% end %>
        <% end %>
          <%# <%= image_tag(@article.banner, class: "enter-your-class-here") %>
  </div>
</div>
