<div class="container">
  <% current_user.chatrooms.each do |chatroom| %>
    <div class="category-message-card">
      <p><%= chatroom.filter_current_user(current_user).first.first_name %></p>
    </div>
  <% end %>
</div>
