<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-heart"></i><small> &nbsp;&nbsp; immigrate with us.</small></a>
  </div>
  <div class="footer-copyright">
      immigr8,  2023
    </div>
</div>
