
.card {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #032033;
  background-color: white;
  position: relative;
  margin: 60px auto;
}

.container-card {
  display: grid;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-body h5{
  font-size: larger;
  font-weight: bolder;

}
.card-body p{
  text-align: justify;
}
.card-search{
  margin-top: 10px;
  border-radius: 5px;
  color: #032033;
  background-color: #FFFFFF;
  position: relative;
  max-width: 800px;
  margin: auto;
  border: 3px solid #032033;
  padding: 15px;
}
