.card_3 {
  width: 340px;
  height: 130px;
  border: 3px solid #032033;
  border-radius: 5px;
  background-color: white;
}

.category-title {
  font-size: medium;
  font-weight: bold;
  padding-top: 60px;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 0;
}

.category-subtext {
  padding-left: 20px;
  font-size: small;
}

// .card_2 {
//   width: 340px;
//   height: 130px;
//   border: 3px solid black;
//   border-radius: 5px;
//   background-color: white;
// }
