.category-card-inner {
  // width: 340px;
  // height: 130px;
  border: 3px solid #032033;
  border-radius: 10px;
  background-color: white;
  position: relative;
  max-width: 400px;
  margin: 60px auto;
  box-shadow: -8px -8px 0 -3px white, -8px -8px #032033,
              -16px -16px 0 -3px white, -16px -16px #032033,
}

.category-card-wrapper {
  margin-left: 16px;
}

.category-title {
  font-size: large;
  font-weight: bolder;
  color: #032033;
  padding-top: 60px;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 0;
}

.category-subtext {
  padding-left: 20px;
  font-size: small;
  color: #032033;
}

// .card_2 {
//   width: 340px;
//   height: 130px;
//   border: 3px solid black;
//   border-radius: 5px;
//   background-color: white;
// }
