.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 20px;
  background-color: white;
  // position: absolute;
  bottom: 0;
  position: sticky;
}

body{
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $darkblue;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}

// .footer-links a:hover {
//   opacity: 1;
// }

.footer-copyright {
  color: $darkblue;
  // opacity: 0.4;
}
