
.navbar-lewagon {
  justify-content: space-between;
  background:white;
  height:60px;
  padding-right: 5px;
}

a {
    color:#032033;
    text-decoration: none;
}
h1{
  margin-left: 10px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.logo-text {
  display: inline-block;
}
