.navbar-lewagon {
  justify-content: space-between;
  background:white;
  height:60px;
  padding-right: 5px;
  #logo {
    color:#032033;
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .collapse-bg {
    background-color: white;
    padding-top: 2px;
    z-index: 5;
    border: 1px solid #032033;
  }
}

.center-content {
  padding-top: 0px;
  margin-top: 0px;
}

h1 {
  margin-left: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.nav-item-style {
  margin-left: 5px;
}

.collapse-style {
  margin: 0px;
}

@media screen and (max-width: 991px) {
  .avatar {
    display: none;
  }
}

.dropdown-style {
  background: none;
  border: none;
  width: 70px;
  padding: 8px 0px 0px 0px;
  color: grey;
  margin: 0 5 0 5;
}

.dropdown-item-style {
  background-color: black;
}

@media screen and (min-width: 991px) {
.dropdown-menu-style {
  padding-left: 10px;
  margin-left: 10px;
  }

.dropdown-toggle {
  margin-left: 12px;
  text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-menu-style {
    padding-left: 10px;
    border: none;
  }

  .dropdown-toggle {
    margin-left: 6px;
    margin-bottom: 4px;
    text-decoration: none;
  }
  }
