// .flex-container {
//   display: flex;
// }

.input {

}

.container-searchbar{
  margin: 10px;
}

.box {
  background-color:$white;
  margin: 20px;
  border-radius: 30px;
  // display: flex;
  // align-items: center;
  padding: 2px;
}


.searchbar {
  i {
    font-size: 20px;
    color: $darkblue;
    margin-top: 8px;
  }
  position: relative;
  // align-content: center;
}

.form-control {
  border: none;
  outline: none;
}
