<div class="container">
      <% @categories.each do |category| %>
        <%= link_to category_path(category), class:"text-decoration-none text-reset" do %>
          <div class="category-card-wrapper">
              <div class="category-card-inner mb-4">
                <p class="category-title"><%= category.title %></p>
                <p class="category-subtext"><%= "read the articles" %></p>
              </div>
          </div>
        <% end %>
      <% end %>


  <p><%= link_to  "Add new category", new_category_path %></p>
</div>
