<div class="container">
    <ul class="category-cards">
      <% @categories.each do |category| %>
      <li><%= link_to category.title, category_path(category)%></li>
      <% end %>
    </ul>

    <%= render "shared/categorycard" %>

  <p><%= link_to  "Add new category", new_category_path %></p>
</div>
