<div class="container">
  <p>hallo test here are our articles to this category</p>
  <div class="article-card">
      <% @articles.each do |article| %>
      <li><%= link_to article.title, article_path(article)%></li>
      <% end %>
    </ul>
  </div>
</div>
